{% load static %}
<footer class="footer-area bg-img bg-cover" data-bg-image="{% static 'assets/images/footer-bg-5.jpg' %}">
    <div class="overlay opacity-90"></div>
    <div class="container">
        <div class="footer-top pt-90 pb-60">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-5 col-md-7 col-sm-12">
                    <div class="footer-widget" data-aos="fade-up">
                        <div class="navbar-brand">
                            <a href="index.html" target="_self" title="Link">
                                <img class="lazyload" src="{{setting.logo2.url}}" data-src="{{setting.logo2.url}}"" alt="Treats logo">
                            </a>
                        </div>
                        <p>
                            {{setting.descriptions}}
                        </p>
                        <div class="social-link">
                            <a href="{{setting.instagram}}" target="_blank" title="Link"><i class="fab fa-instagram"></i></a>
                            <a href="{{setting.twitter}}" target="_blank" title="Link"><i class="fab fa-twitter"></i></a>
                            <a href="{{setting.youtube}}" target="_blank" title="Link"><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6">
                    <div class="footer-widget" data-aos="fade-up">
                        <h4>Полезные ссылки</h4>
                        <ul class="footer-links">
                            <li>
                                <a href="{% url 'shop' %}" target="_self" title="link">Все категории</a>
                            </li>
                            <li>
                                <a href="={% url 'menu' %}" target="_self" title="link">Меню Блюд</a>
                            </li>
                            <li>
                                <a href="{% url 'contact' %}" target="_self" title="link">Мой аккаунт</a>
                            </li>
                            <li>
                                <a href="{% url 'about' %}" target="_self" title="link">О нас</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-widget" data-aos="fade-up">
                        <h4>Недавние посты</h4>
                        {% for blog in  blogs %}
                        <article class="article-item">
                            <div class="image">
                                <a href="{% url 'blog-details' blog.id %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 radius-sm">
                                    <img class="lazyload" src="{{blog.image.url}}" data-src="{{blog.image.url}}" alt="Blog Image">
                                </a>
                            </div>
                            <div class="content">
                                <h6 class="lc-2 mb-10">
                                    <a href="{% url 'blog-details' blog.id %}" target="_self" title="Blog">
                                        {{blog.title}}
                                    </a>
                                </h6>
                                <ul class="blog-list list-unstyled">
                                    <li class="font-sm icon-start"><i class="fal fa-calendar-alt"></i>{{blog.created_at}}</li>
                                </ul>
                            </div>
                        </article>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                    <div class="footer-widget" data-aos="fade-up">
                        <h4>Контакты</h4>
                        <ul class="info-list">
                            <li>
                                <i class="fal fa-map-marker-alt"></i>
                                <span>{{setting.locations}}</span>
                            </li>
                            <li>
                                <i class="fal fa-envelope"></i>
                                <div class="link">
                                    <a href="{{setting.email}}" target="_self" title="Link">{{setting.email}}/a>
                                </div>
                            </li>
                            <li>
                                <i class="fal fa-headset"></i>
                                <div class="link">
                                    <a href="{{setting.phone}}" target="_self" title="Link">{{setting.phone}}</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="newsletter radius-md">
            <div class="row align-items-center justify-content-between">
                <div class="col-xl-5 col-md-6">
                    <h4 class="mb-15">Подпишитесь на нашу рассылку новостей</h4>
                </div>
                <div class="col-xl-5 col-md-6">
                    <div class="newsletter-form mb-15">
                        <form id="newsletterForm">
                            <div class="form-group">
                                <input class="form-control shadow-md radius-sm" placeholder="Ваш email адресс..." type="text" name="EMAIL" required="" autocomplete="off">
                                <button class="btn btn-lg btn-primary radius-sm" type="submit">
                                    <span class="d-inline d-sm-none">
                                        <i class="fal fa-paper-plane"></i>
                                    </span>
                                    <a href="{% url 'contact' %}" class="d-none d-sm-inline">Подписатьс</a>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right-area ptb-30">
            <div class="copy-right-content">
                <span>
                    Copyright <i class="fal fa-copyright"></i><span id="footerDate"></span> <a href="index.html" target="_self" title="Treats" class="color-primary">Treats</a>. All Rights Reserved
                </span>
            </div>
        </div>
    </div>
</footer>