{% load static %}
<header class="header-area header-1" data-aos="fade-down">
    <!-- Start mobile menu -->
    <div class="mobile-menu">
        <div class="container">
            <div class="mobile-menu-wrapper"></div>
        </div>
    </div>
    <!-- End mobile menu -->

    <div class="main-responsive-nav">
        <div class="container">
            <!-- Mobile Logo -->
            <div class="logo">
                <a href="index.html" target="_self" title="Treats">
                    <img class="lazyload" src="{{setting.logo.url}}" data-src="{% static 'assets/images/logo/logo-1.png' %}" alt="Treats logo">
                </a>
            </div>
            <!-- Menu toggle button -->
            <button class="menu-toggler" type="button">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>

    <div class="main-navbar">
        <div class="header-top py-2">
            <div class="container">
                <div class="header-top-items mobile-item d-flex flex-wrap justify-content-between gap-15 align-items-center">
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <nav class="navbar navbar-expand-lg">
                    <!-- Logo -->
                    <a class="navbar-brand" href="index.html" target="_self" title="Treats">
                        <img class="lazyload" src="{% static 'assets/images/placeholder.png' %}" data-src="{% static 'assets/images/logo/logo-1.png' %}" alt="Treats logo">
                    </a>
                    <!-- Navigation items -->
                    <div class="collapse navbar-collapse">
                        <ul id="mainMenu" class="navbar-nav mobile-item mx-auto">
                            <li class="nav-item">
                                <a href="{% url 'index' %}" class="nav-link toggle">Главная<i class="fal fa-plus"></i></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about' %}">О нас</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" href="{% url 'menu' %}">Меню</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" href="#">Магазин<i class="fal fa-plus"></i></a>
                                <ul class="menu-dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url "shop" %}">Магазин</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="shop-details.html">Подробнее о магазине</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link toggle" href="#">Блог<i class="fal fa-plus"></i></a>
                                <ul class="menu-dropdown">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url "blogs" %}">Блоги</a>
                                    </li>
                                    {% comment %} <li class="nav-item">
                                        <a class="nav-link" href="{% url "blog-details" %}">Подробности в блоге</a>
                                    </li> {% endcomment %}
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'contact' %}">Контакт</a>
                            </li>
                        </ul>
                    </div>
                    <div class="more-option mobile-item">
                        <div class="item">
                            <div class="language">
                                <select class="niceselect">
                                    <option value="1">Русский</option>
                                </select>
                            </div>
                        </div>
                        <div class="item">
                            <a href="login.html" class="btn-icon" target="_self" aria-label="User" title="User">
                                <i class="fal fa-user-circle"></i>
                            </a>
                        </div>
                        <div class="item">
                            <a href="cart.html" class="btn-icon pe-2" target="_self" aria-label="Cart" title="Cart">
                                <i class="fal fa-shopping-bag"></i>
                                <span class="badge rounded-pill bg-primary">3</span>
                            </a>
                        </div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>