{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloader start -->
    <div id="preLoader">
        <div class="loader">
            <img src="{% static 'assets/images/loader-5.gif' %}" alt="Preloader">
        </div>
    </div>
    <!-- Preloader end -->
    <!-- Header-area start -->
    {% include 'include/header.html '%}
    <!-- Header-area end -->

    <!-- Breadcrumb start -->
    <div class="breadcrumb-area bg-img bg-cover" data-bg-image="{% static 'assets/images/breadcrumb-bg.jpg' %}">
        <div class="overlay 65"></div>
        <div class="container">
            <div class="content text-center">
                <h2 class="color-white">Blogs</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'idnex' %}">Главная</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Блоги</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->
    
    <!-- Blog-area start -->
    <div class="blog-area blog-1 pt-100 pb-75">
        <div class="container">
            <div class="row">
                {% for blogs in blogs2  %}
                <div class="col-xl-4 col-md-6" data-aos="fade-up">
                    <article class="card mb-25 radius-md">
                        <div class="card-img">
                            <a href="{% url 'blog-details' blogs.id %}" target="_self" title="Link" class="lazy-container ratio ratio-5-3">
                                <img class="lazyload" src="{{blog.image.url}}" data-src="{{blogs.image.url}}" alt="Blog Image">
                            </a>
                        </div>
                        <div class="card-content radius-md p-25 border">
                            <ul class="card-list list-unstyled mb-15">
                                <li class="font-sm icon-start">
                                    <a href="blogs.html" target="_self" title="Link"><i class="fal fa-calendar-check"></i>{{blogs.created_at}}</a>
                                </li>
                            </ul>
                            <h4 class="card-title lc-2 mb-15">
                                <a href="{% url 'blog-details' blogs.id %}" target="_self" title="Link">
                                  {{blogs.title}}
                                </a>
                            </h4>
                            <a href="{% url 'blog-details' blogs.id %}" class="btn-text color-primary" target="_self" title="Read More">Читать дальше</a>
                        </div>
                    </article>
                </div>
                {% endfor %}
            </div>
            <nav class="pagination-nav mt-15 mb-25" data-aos="fade-up">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="blogs.html" aria-label="Previous">
                            <i class="far fa-angle-left"></i>
                        </a>
                    </li>
                    <li class="page-item active"><a class="page-link" href="blogs.html">1</a></li>
                    <li class="page-item"><a class="page-link" href="blogs.html">2</a></li>
                    <li class="page-item"><a class="page-link" href="blogs.html">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="blogs.html" aria-label="Next">
                            <i class="far fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Blog-area end -->

    <!-- Gallery-area start -->
    {% include "include/slide.html" %}
    <!-- Gallery-area end -->

    <!-- Footer-area start -->
    {% include "include/footer.html" %}
    <!-- Footer-area end-->

    <!-- Go to Top -->
    <div class="go-top"><i class="fal fa-angle-up"></i></div>
    <!-- Go to Top -->

{% endblock %}