{% extends 'include/homepage.html' %}
{% load static %}
{% block content %}
    <!-- Preloader start -->
    <div id="preLoader">
        <div class="loader">
            <img src="{% static 'assets/images/loader-5.gif' %}" alt="Preloader">
        </div>
    </div>
    <!-- Preloader end -->

    <!-- Header-area start -->
    {% include 'include/header.html '%}
    <!-- Header-area end -->

    <!-- Breadcrumb start -->
    <div class="breadcrumb-area bg-img bg-cover" data-bg-image="{% static 'assets/images/breadcrumb-bg.jpg' %}">
        <div class="overlay 65"></div>
        <div class="container">
            <div class="content text-center">
                <h2 class="color-white">Магазин</h2>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Главна</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Магазин</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb end -->

    <!-- Shop-area start -->
    <div class="shop-area pt-100 pb-75">
        <div class="container">
            <div class="product-sort-area pb-10" data-aos="fade-up">
                <div class="row align-items-center">
                    <div class="col-md-6">
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
            <!-- Products -->
            <div class="row">
                {% for shops in shop %}
                <div class="col-sm-6 col-lg-4 col-xl-3 item">
                    <div class="product radius-md text-center p-30 mb-25">
                        <figure class="product-img mb-20 mx-auto">
                            <a href="{% url 'shop-details' shops.id %}" target="_self" title="Link" class="lazy-container ratio ratio-1-1 bg-none">
                                <img class="lazyload" src="{{shops.imgae.url}}" data-src="{{shops.image.url}}" alt="Image">
                            </a>
                            <div class="hover-show">
                                <div class="btn-groups">
                                    <a href="{% url 'shop-details' shops.id %}" class="btn-icon rounded-circle" title="Quick View" target="_self">
                                        <i class="fal fa-eye"></i>
                                    </a>
                                    <a href="cart.html" class="btn-icon rounded-circle" title="Add to Cart" target="_self">
                                        <i class="fal fa-shopping-cart"></i>
                                    </a>
                                    <a href="wishlist.html" class="btn-icon rounded-circle" title="Add to Wishlist" target="_self">
                                        <i class="fal fa-heart"></i>
                                    </a>
                                </div>
                            </div>
                        </figure>
                        <div class="product-details">
                            <h4 class="product-title lc-1 mb-10"><a href="{% url 'shop-details' shops.id %}" target="_self" title="Vanilla Cold Coffee">{{shops.title}}</a></h4>
                            <div class="product-price">
                                <span class="h6 font-lg new-price color-primary">{{shops.price}}</span>
                                <span class="prev-price font-sm">{{shops.price_discount}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <nav class="pagination-nav mt-15 mb-25" data-aos="fade-up">
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="shop.html" aria-label="Previous">
                            <i class="far fa-angle-left"></i>
                        </a>
                </ul>
            </nav>
        </div>
    </div>
    <!-- Shop-area end -->

    <!-- Gallery-area start -->
    {% include "include/slide.html" %}
    <!-- Gallery-area end -->

    <!-- Footer-area start -->
    {% include "include/footer.html" %}
    <!-- Footer-area end-->

    <!-- Go to Top -->
    <div class="go-top"><i class="fal fa-angle-up"></i></div>
    <!-- Go to Top -->
    
{% endblock %}